[Unit]
Description=1Panel Core Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Environment=PANEL_MODE=stable
ExecStart=/usr/local/bin/1panel-core
Restart=on-failure
RestartSec=5s
LimitNOFILE=infinity
Delegate=yes
KillMode=mixed
StandardOutput=null

[Install]
WantedBy=multi-user.target
