[Unit]
Description=1Panel Agent Service
After=network-online.target 1panel-core.service
Wants=network-online.target

[Service]
Type=simple
Environment=PANEL_MODE=stable
ExecStart=/usr/local/bin/1panel-agent
Restart=on-failure
RestartSec=5s
LimitNOFILE=infinity
Delegate=yes
KillMode=mixed
StandardOutput=null

[Install]
WantedBy=multi-user.target
